---
import SectionTitle from "./UI/SectionTitle.astro";
import Button from "./UI/Button.astro";
import TechToken from "./UI/TechToken.astro";
---

<section
  id="about"
  class="flex flex-col justify-center lg:flex-row mx-auto py-32"
>
  <div class="w-full lg:w-1/2">
    <div class="flex justify-center items-center">
      <SectionTitle>About Me</SectionTitle>
    </div>
    <p class="text-start px-14 lg:px-48 py-4 text-xl">
      I'm a passionate web developer deeply committed to clean design,
      meticulous code, and a strong work ethic. Considering myself a fast
      learner and a dedicated team player, I bring a unique blend of
      adaptability and efficiency to every project.
    </p>
    <p class="text-start px-14 lg:px-48 py-4 text-xl">
      My primary focus is on delivering clean, functional web solutions where I
      consistently produce high-quality results within tight deadlines. If
      you're seeking a developer who combines technical excellence with a
      proactive, enthusiastic attitude, I'm eager to bring my skills and passion
      to your team.
    </p>
    <div class="flex justify-center items-center py-8">
      <Button
        text="Download my resume"
        onClick="window.location.href = 'https://lucenstuff.github.io/files/agustin_lucentini_resume.pdf'"
      />
    </div>
  </div>
  <div class="pt-14 lg:pt-0 lg:mr-32 flex flex-col">
    <div class="flex justify-center lg:items-start lg:justify-start lg:pl-10">
      <SectionTitle>Tech Stack</SectionTitle>
    </div>
    <div
      class="flex flex-col justify-center items-center lg:items-start lg:px-14"
    >
      <h2 class="py-8 text-2xl text-start">Front End:</h2>
      <div class="gap-4 flex flex-wrap">
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297472/portfolio/cquifksed4rllj8ckda5.svg"
            alt="html"
          />
        </TechToken>
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297476/portfolio/tflvaw7sbaptrrafhdxi.svg"
            alt="css"
          />
        </TechToken>
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297473/portfolio/gdtzhncrahok2rhqwfhu.svg"
            alt="javascript"
          />
        </TechToken>
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297475/portfolio/ze0skkqaekiqosqew345.svg"
            alt="react"
          />
        </TechToken>
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297475/portfolio/gxtckv5koky6zvwgs9j4.svg"
            alt="tailwind"
          />
        </TechToken>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center lg:items-start px-14">
      <h2 class="py-8 text-2xl text-start">Back End:</h2>
      <div class="gap-4 flex flex-wrap">
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297474/portfolio/yg7dlqyydit5lnxu75om.svg"
            alt="node"
          />
        </TechToken>
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297474/portfolio/pexdenhxkbp5ckic15tt.svg"
            alt="mysql"
          />
        </TechToken>
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297473/portfolio/txhmyf0xzdzpuqnwubld.svg"
            alt="java"
          />
        </TechToken>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center lg:items-start px-14">
      <h2 class="py-8 text-2xl text-start">Design:</h2>
      <div class="gap-4 flex flex-wrap">
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297474/portfolio/egvrzcok7psy4zouzuts.svg"
            alt="photoshop"
          />
        </TechToken>
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297471/portfolio/uex9gyd1ji4kzzmgggme.svg"
            alt="figma"
          />
        </TechToken>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center lg:items-start px-14">
      <h2 class="py-8 text-2xl text-start">Other Tools:</h2>
      <div class="gap-4 flex flex-wrap">
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297475/portfolio/g2v9hzss20uvbc5fih2p.svg"
            alt="postman"
          />
        </TechToken>
        <TechToken>
          <img
            src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297472/portfolio/nwtd5qgxqadvbafhvb35.svg"
            alt="git"
          />
        </TechToken>
      </div>
    </div>
  </div>
</section>
