<header>
  <div class="bg-neutral-900 w-full py-8 fixed top-0 z-10 drop-shadow-sm">
    <div
      class="container mx-auto flex items-center justify-between px-10 lg:px-32"
    >
      <a href="/" class="text-white text-xl font-bold">
        <div class="flex text-2xl">
          <h2>&lt;Lucen<span class="text-red-500">Dev</span>/&gt;</h2>
        </div></a
      >
      <button id="burger-menu" class="lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            fill-rule="evenodd"
            d="M3.5 5a1 1 0 0 0 0 2h17a1 1 0 1 0 0-2zm-1 7a1 1 0 0 1 1-1h17a1 1 0 1 1 0 2h-17a1 1 0 0 1-1-1m0 6.001a1 1 0 0 1 1-1h17a1 1 0 1 1 0 2h-17a1 1 0 0 1-1-1"
            clip-rule="evenodd"></path></svg
        >
      </button>
      <button id="close-menu" class="hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"
          ></path></svg
        >
      </button>
      <div class="hidden lg:flex space-x-4 lg:gap-10">
        <a href="/#hero">Home</a>
        <a href="/#about">About Me</a>
        <a href="/#portfolio">Portfolio</a>
        <a href="/#contact">Contact</a>
      </div>
    </div>
    <div id="mobile-menu" class="hidden">
      <ul class="flex flex-col items-center gap-8 pt-8">
        <a href="/#hero">Home</a>
        <a href="/#about">About Me</a>
        <a href="/#portfolio">Portfolio</a>
        <a href="/#contact">Contact</a>
      </ul>
    </div>
  </div>
</header>

<style>
  a:after {
    display: block;
    content: "";
    border-bottom: solid 2px #e5e5e5;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
  }
  a:hover:after {
    transform: scaleX(1);
  }

  a:hover {
    color: white;
    transition: color 150ms ease-in-out;
  }
</style>

<script>
  const burgerMenu = document.getElementById("burger-menu");
  const closeMenu = document.getElementById("close-menu");
  const mobileMenu = document.getElementById("mobile-menu");
  const links = document.querySelectorAll("a");

  burgerMenu.addEventListener("click", () => {
    mobileMenu.classList.remove("hidden");
    closeMenu.classList.remove("hidden");
    burgerMenu.classList.add("hidden");
  });

  closeMenu.addEventListener("click", () => {
    mobileMenu.classList.add("hidden");
    closeMenu.classList.add("hidden");
    burgerMenu.classList.remove("hidden");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      setTimeout(() => {
        mobileMenu.classList.add("hidden");
        closeMenu.classList.add("hidden");
        burgerMenu.classList.remove("hidden");
      }, 250);
    });
  });
</script>
