---
import Button from "./UI/Button.astro";
---

<hero
  id="hero"
  class="flex justify-center items-center h-screen flex-col my-24 py-32 lg:flex-row"
>
  <div class="lg:px-10 px-10">
    <img
      src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297476/portfolio/vxh1ngmvzocp4dgmx2pd.png"
      width="400px"
      height="400px"
      alt=""
    />
  </div>
  <div
    class="lg:px-20 lg:text-5xl text-2xl py-10 max-w-72 md:max-w-max flex flex-col justify-center"
  >
    <h1>
      Hola, soy <span class="font-semibold typewriter"
        >Agustín <br /> Lucentini</span
      >
    </h1>
    <h1 class="typewriter-effect text-red-500 font-semibold">
      Desarrollador de software
    </h1>
    <div class="flex gap-4 my-10">
      <button
        class="hover:scale-105 transition-all hover:opacity-80"
        aria-label="LinkedIn"
        onclick="window.location.href = 'https://www.linkedin.com/in/agustinlucentini/'"
      >
        <img
          src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297473/portfolio/wurvd3uqg1ce6obhtud1.svg"
          width="40px"
          height="40px"
          alt="LinkedIn"
        />
      </button>
      <button
        class="hover:scale-105 transition-all hover:opacity-80"
        aria-label="GitHub"
        onclick="window.location.href = 'https://github.com/lucenstuff'"
      >
        <img
          src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297472/portfolio/ekomx0sra7ethhqn1sz1.svg"
          width="40px"
          height="40px"
          alt="GitHub"
        />
      </button>
    </div>
    <Button
      text="Ve mis proyectos"
      onClick="window.location.href = '#portfolio'"
    />
  </div>
</hero>

<style>
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #e5e5e5;
    }
  }

  .typewriter-effect {
    display: inline-block;
    border-right: 3px solid #e5e5e5;
    white-space: nowrap;
    overflow: hidden;
    animation:
      typewriter 4s steps(40) 0s forwards,
      blink-caret 0.75s step-end infinite 4.3s;
  }
</style>
