---
import Button from "./UI/Button.astro";
---

<hero
  id="hero"
  class="flex justify-center items-center h-screen flex-col my-24 py-32 lg:flex-row"
>
  <div class="lg:px-10 px-10">
    <img
      src="src/img/Cute Avatar.png"
      class="drop-shadow-lg"
      width="400"
      alt="avatar"
    />
  </div>
  <div class="lg:px-20 lg:text-5xl text-3xl py-10 flex flex-col justify-center">
    <h1>
      Hello, I’m <span class="font-semibold">Agustín <br /> Lucentini</span>
    </h1>
    <h1 class="text-red-500 font-semibold">Full Stack Developer</h1>
    <div class="flex gap-4 my-10">
      <button
        class="hover:scale-105 transition-all hover:opacity-80"
        aria-label="LinkedIn"
        onclick="window.location.href = 'https://www.linkedin.com/in/agust%C3%ADn-lucentini-055832276/'"
      >
        <img src="src/img/linkedin.svg" alt="LinkedIn" />
      </button>
      <button
        class="hover:scale-105 transition-all hover:opacity-80"
        aria-label="GitHub"
        onclick="window.location.href = 'https://github.com/lucenstuff'"
      >
        <img src="src/img/github.svg" alt="GitHub" />
      </button>
    </div>
    <Button
      text="See my projects"
      onClick="window.location.href = '#portfolio'"
    />
  </div>
</hero>
