---
import PorjectContainer from "./UI/PorjectContainer.astro";
import SectionTitle from "./UI/SectionTitle.astro";
---

<section
  id="portfolio"
  class="flex flex-col justify-center md:flex-row mx-auto py-32"
>
  <div class="md:w-1/2">
    <div class="flex flex-col justify-center items-center">
      <SectionTitle>Proyectos</SectionTitle>
      <PorjectContainer
        title="GreenTrace"
        img="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297473/portfolio/ej6w3lc0p2exho84py2p.jpg"
        description="Plataforma de comercio electrónico para juegos desde cero, utilizando React y Tailwind CSS en el frontend, y Express en Node.js para el backend."
        onClick="window.location.href = 'https://c15-04-m-node-react.vercel.app/' "
      />
      <PorjectContainer
        title="Gamers Vault"
        img="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297472/portfolio/dffgizlcqgkahjuyvnue.jpg"
        description="Aplicación web para una calculadora de huella de carbono, empleando React, TypeScript y Tailwind CSS."
        onClick="window.location.href = '/' "
      />
    </div>
    <section></section>
  </div>
</section>
