---
import PorjectContainer from "./UI/PorjectContainer.astro";
import SectionTitle from "./UI/SectionTitle.astro";
---

<section
  id="portfolio"
  class="flex flex-col justify-center md:flex-row mx-auto py-32"
>
  <div class="md:w-1/2">
    <div class="flex flex-col justify-center items-center">
      <SectionTitle>Portfolio</SectionTitle>
      <PorjectContainer
        title="GreenTrace"
        img="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297473/portfolio/ej6w3lc0p2exho84py2p.jpg"
        description="Participated in the design and development of a web application for a carbon footprint calculator project, employing React, TypeScript, and Tailwind CSS. This project not only expanded skills in React, TypeScript, and Tailwind CSS but also contributed to environmental awareness by promoting sustainable practices."
        onClick="window.location.href = 'https://c15-04-m-node-react.vercel.app/' "
      />
      <PorjectContainer
        title="Gamers Vault"
        img="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297472/portfolio/dffgizlcqgkahjuyvnue.jpg"
        description="Built a gaming e-commerce platform from the ground up using React, Tailwind CSS, and Express in Node.js. The frontend features dynamic design with React and Tailwind CSS, while the backend is powered by Express. Implemented Sequelize for efficient API and database management, resulting in a seamless and responsive e-commerce platform."
        onClick="window.location.href = '/' "
      />
    </div>
    <section></section>
  </div>
</section>
