---
import PorjectContainer from "./UI/PorjectContainer.astro";
import SectionTitle from "./UI/SectionTitle.astro";
---

<section
  id="portfolio"
  class="flex flex-col justify-center md:flex-row mx-auto py-32"
>
  <div class="md:w-1/2">
    <div class="flex flex-col justify-center items-center">
      <SectionTitle>Proyectos</SectionTitle>
      <PorjectContainer
        title="GreenTrace"
        img="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297473/portfolio/ej6w3lc0p2exho84py2p.jpg"
        description="Plataforma de comercio electrónico para juegos desde cero, utilizando React y Tailwind CSS en el frontend, y Express en Node.js para el backend."
        onClick="window.location.href = 'https://c15-04-m-node-react.vercel.app/' "
      />
      <PorjectContainer
        title="Gamers Vault"
        img="https://res.cloudinary.com/dcbmvyyes/image/upload/v1704297472/portfolio/dffgizlcqgkahjuyvnue.jpg"
        description="Aplicación web para una calculadora de huella de carbono, empleando React, TypeScript y Tailwind CSS."
        onClick="window.location.href = '/' "
      />
      <PorjectContainer
        title="SuikaGame FXGL"
        img="https://camo.githubusercontent.com/e0bcb7edc2d617561f75c6e800f4cb36ea6463ae8f625f59956b2843b035d98e/68747470733a2f2f7265732e636c6f7564696e6172792e636f6d2f6463626d76797965732f696d6167652f75706c6f61642f76313730363833333739322f5375696b612f766965775f636b6430316d2e706e67"
        description="Una reversión del popular juego Suika Watermelon hecha con JavaFX y FXGL. Suika es un juego basado en la física similar al Tetris en el que el jugador apila varias frutas en una caja sin que se desborden."
        onClick="window.location.href = 'https://github.com/lucenstuff/SuikaGameJavaFXGL' "
      />
    </div>
    <section></section>
  </div>
</section>
