---
import Button from "./Button.astro";
---
<div class="px-10 py-4 md:px-0 w-full" >
    <h2 class="text-2xl font-medium text-red-500 pb-2 mb-4  ">Proyect #1: Lorem Ipsum</h2>
    <div class="flex flex-col md:flex-row gap-4">
        <div class="bg-neutral-700 p-6 rounded-md md:w-1/2 flex justify-center items-center shadow-lg">
            <img class="rounded-md aspect-[4/3]" src="https://picsum.photos/600/400" alt="">
        </div>
        <div class="md:w-1/2"> 
            <p class="md:py-0 text-lg md:pl-10" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore quia, obcaecati porro fuga molestias atque consequatur ipsam illo doloremque, soluta, unde nulla blanditiis. Quis voluptates nulla recusandae, ratione non nam.
            </p>
            <div class="flex justify-center py-10 ">
                <Button>Go to project</Button>
            </div>
        </div>
    </div>
</div>
